
.user_block {
  padding: 0px;
  margin-top: 0px;
}
*+html .user_block {  /* IE7 */
  margin-top: 10px;
}
* html .user_block {  /* IE6 */
  margin-top: 10px;
}
.user_block h3 { 
  font-size:21px;
  line-height:22px;
  color:#d51611;
  font-family:base4regular,arial,tahoma;
}
.user_block h3 a{ 
	font-size:20px;
	display:block;
	font-weight:normal;
	margin-bottom:5px
}
.user_block .user_pic { 
  margin:5px 5px 0 5px;
  float:left;
  display:block;
  width:90px;
}
.user_block .user-info{
	padding-left:5px;
  font-size: 16px;
  line-height: 16px;
  display:table;
  height:100px;
}
*+html .user_block h3 { /* IE7 */
  margin-top: -18px;
}
.user-score{
	/*position:relative;*/
	font-size:15px;
	background: none repeat scroll 0 0 #FFFFFF;
	display: block;
	margin-left:10px;
}
.content .user-score p{
  font-size:20px;
  margin-bottom: 15px;
}

.user-history h2 a{
	font-size:20px;
	display:block;
	color:#d51611;
	font-weight:normal;
	margin-bottom:15px;
	margin-top:15px
}
.user_block .profile_link a {
  /*  background: url("profile_link_bg.png") no-repeat scroll 0 0 transparent;*/
    display: block;
    font-size: 14px;
    height: 20px;
    line-height: 28px;
    margin-top: 5px;
    padding-left: 12px;
}
.profile_link{
	padding-top:5px;
}

